@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgb(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #242424;
}

@layer base {
  :root {
    --trilemma-dark: rgba(23, 23, 23, 1);
    --trilemma-green: rgba(167, 232, 136, 1);
    --background: 23 23 23;
    --foreground: 167 232 136;

    --card: 23 23 23;
    --card-foreground: 167 232 136;

    --popover: 23 23 23;
    --popover-foreground: 167 232 136;

    --primary: 167 232 136;
    --primary-foreground: 23 23 23;

    --secondary: 40 40 40;
    --secondary-foreground: 167 232 136;

    --muted: 40 40 40;
    --muted-foreground: 120 180 100;

    --accent: 167 232 136;
    --accent-foreground: 23 23 23;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 167 232 136;

    --border: 60 60 60;
    --input: 40 40 40;
    --ring: 167 232 136;

    --radius: 0.5rem;
  }

  .dark {
    --trilemma-dark: rgba(23, 23, 23, 1);
    --trilemma-green: rgba(167, 232, 136, 1);
    --background: 23 23 23;
    --foreground: 167 232 136;

    --card: 23 23 23;
    --card-foreground: 167 232 136;

    --popover: 23 23 23;
    --popover-foreground: 167 232 136;

    --primary: 167 232 136;
    --primary-foreground: 23 23 23;

    --secondary: 40 40 40;
    --secondary-foreground: 167 232 136;

    --muted: 40 40 40;
    --muted-foreground: 120 180 100;

    --accent: 167 232 136;
    --accent-foreground: 23 23 23;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 167 232 136;

    --border: 60 60 60;
    --input: 40 40 40;
    --ring: 167 232 136;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-color: rgba(23, 23, 23, 1);
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

@layer components {
  .lines-pattern {
    @apply bg-lines;
    background-position: 1px 0px;
    background-size: 2px 2px;
  }
}
